<div class="footersticky">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Sticky footer -->
	<ins class="adsbygoogle googleAds"
		 style="display:inline-block;min-width:320px;max-width:1140px;width:100%;height:100px;"
		 data-ad-client="ca-pub-7999525691080451"
		 data-ad-slot="7829282278"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>
<style>
.googleAds{width:100% !important;height:100px !important;margin:0 auto;}
.footersticky{position:fixed;bottom:0;left:0;height:100px;width:100%;z-index:999;text-align:center;}
</style>