<header ng-controller="headCtrl as head" ng-cloak>
    <div class="container">
        <!-- Header -->
        <div class="row header">
            <div class="logo col-md-7 col-sm-6 col-xs-9" ng-class="{mobiheader: head.isMobileDevice}">
                <div class="row">
                    <div style="width:50px;float:left;">
                        <a href="/">
							<img class="logo-header" src="/img/sxm.png" alt="" />
							<span class="homeLabel showInMobile hideInPrint">Home</span>
						</a>
                    </div>					
					<div class="headerSearch " auto-hide-popup flag="head.isPopupVisible">
						<div class="input-group col-md-12">
							<input type="text" name="searchKeyword" class="search-query form-control" placeholder="Search Friends" data-ng-model="head.searchKeyword" ng-model-options="{debounce: 500}" data-ng-change="head.searchFriends()" data-ng-click="head.searchKeyword.length > 2 && head.togglePopup()" />
							<span class="input-group-btn">
								<button class="btn" type="button" style="border-radius:0">
									<span class=" glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
						<div class="friends-search-results ng-hide" ng-show="head.isPopupVisible">
							<div class="fri-container scroll-wrapper">
								<ul class="find-friends-list add">
									<li class="fri-list" ng-class="{morePadd:f.reqSent == 1 && f.isFriend == 0}" data-ng-repeat="f in head.searchedFriends | filter : head.searchKeyword">
										<p class="popupPic"><img ng-src="@@host/uploads/{{::f._id| imgsize:40}}" alt="" /></p>
										<a class="popupName" data-ng-href="/profile/{{::f.fName}}-{{::f.lName}}-{{f._id}}">{{::f.fName}} {{::f.lName}}</a>
										<a id="add-{{f._id}}" class="add-as-friend" href="#" data-ng-click="head.addAsFriend(f._id);f.reqSent = 1" data-ng-show="f.isFriend == 0 && f.reqSent == 0">Add</a>
										<span class="sentBtn" data-ng-show="f.isFriend == 0 && f.reqSent == 1">Request pending</span>
										<br/>
										<p class="popupLocation">
											<i class="fa fa-map-marker" aria-hidden="true"></i>
											<span data-ng-repeat="locations in f.location">{{::locations}}{{$last ? '' : ', '}}</span>
										</p>
										<p class="popupLocation">
											<span data-ng-repeat="sport in f.sports">{{::sport}}{{$last ? '' : ', '}}</span>
										</p>
									</li>
									<li class="noData" data-ng-if="head.searchKeyword && head.searchKeyword.length < 3">
										Please enter 3 character for the search results.
									</li>
									<li class="noData" data-ng-if="head.noData">
										No results to display
									</li>
								</ul>
							</div>
							<!-- <p class="invBtn">
									<a href="#" class="Create-group" data-ng-click="head.inviteFriend()">Invite friends</a>
							</p> -->
						</div>
					</div>
					<div class="homeBtn hideInMobile">
						<a href="/"><img src="/img/home.png" width="25" height="25" /></a>
					</div>
					<div class="evtBtn hideInMobile" data-ng-click="head.createDiscussion()">
						<i class="fa fa-comments" aria-hidden="true" style="padding:0;float:left;font-size:22px;"></i>
						<span>Post Message</span>
					</div>
                </div>
            </div>
            <div class="col-md-5 quick-links text-right col-sm-6 col-xs-3">
                <ul class="nav navbar-nav pull-right" id="user-block">
                    <li class="notifications-wrapper">
                        <a class="notificationBtn" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="glyphicon glyphicon-bell"></div>
                            <div class="count" data-ng-bind="head.notificationCount"></div>
                        </a>
                        <ul class="list friend-request dropdown-menu scrollContainer">
                            <li class="noNotifications" ng-if="head.notificationCount == 0"><span>No notifications</span></li>
                            <li class="reqList nList" style="color: rgb(51, 51, 51);" data-ng-repeat="listFrnd in head.notifications.reqPending| orderBy:'dateR':true">
                                <p class="notiProfilePic">
                                    <img ng-src="@@host/uploads/{{listFrnd.fid| imgsize:40}}" alt="" />
                                </p>
                                <p class="reqCity">
                                    <a class="friend-request-name" data-ng-href="/profile/{{::listFrnd.name | makeHyphen}}-{{::listFrnd.fid}}" data-ng-bind="::listFrnd.name"></a>
                                </p>
                                <p class="reqSports">
                                    <span data-ng-repeat="city in listFrnd.city">{{::city}}{{$last ? '' : ', '}}</span>
                                </p>
                                <p class="reqSports">
                                    <span data-ng-repeat="sport in listFrnd.sports">{{::sport}}{{$last ? '' : ', '}}</span>
                                </p>
                                <span class="notiDate">{{::listFrnd.dateR| date:"dd-MMM 'at' h:mma"}}</span>
								<button class="stdBtnSmall reqReject" type="button" ng-click="head.acceptreject(listFrnd.fid, listFrnd.name, 'friend', false)">Reject</button>
								<button class="stdBtnSmall reqAccept" type="button" ng-click="head.acceptreject(listFrnd.fid, listFrnd.name, 'friend', true)">Accept</button>
							</li>
                            <li class="nList" style="color: rgb(51, 51, 51);" data-ng-repeat="listGroup in head.notifications.groupReq">
                                <p class="notiProfilePic">
                                    <img ng-src="/img/users-group-icon.png" height="40px;" width="40px;" alt="" />
                                </p>
                                <p class="nTitle">
									<a data-ng-href="/profile/{{listGroup.userPending[0].userName | makeHyphen}}-{{listGroup.userPending[0].uid}}" data-ng-bind="listGroup.userPending[0].userName"></a> wants to join
                                    <a href="javascript:void(0)" data-ng-click="head.groupDetails(listGroup._id)" data-ng-bind="::listGroup.grpName"></a>
                                </p>
								<button class="stdBtnSmall reqReject" type="button" ng-click="head.acceptrejectgroup(listGroup.userPending[0].uid, listGroup._id, listGroup.grpName, true)">Reject</button>
								<button class="stdBtnSmall reqAccept" type="button" ng-click="head.acceptrejectgroup(listGroup.userPending[0].uid, listGroup._id, listGroup.grpName, true)">Accept</button>
							</li>
                            <li style="color: rgb(51, 51, 51);" data-ng-repeat="listDiscussion in head.notifications.discInvite| orderBy:'date':true">
                                <p class="notiProfilePic">
                                    <img ng-src="@@host/uploads/{{listDiscussion.inviterID| imgsize:40}}" alt="" />
                                </p>
                                <span style="cursor: pointer" data-ng-cloak ng-click="head.showNotification(listDiscussion.discID, 'D')">{{::listDiscussion.inviter}} has tagged you in a discussion</span>
                                <span class="notiDate">{{::listDiscussion.date| date:"dd-MMM 'at' h:mma"}}</span>
                            </li>
                            <li style="color: rgb(51, 51, 51);" data-ng-repeat="events in head.notifications.events| orderBy:'evtDate':true">
                                <p class="notiProfilePic">
                                    <img ng-src="@@host/uploads/{{events.inviterID| imgsize:40}}" alt="" />
                                </p>
                                <span style="cursor: pointer" data-ng-cloak ng-click="head.showNotification(events.evtID, 'E');">
                                    {{::events.evtName}} <br/>
                                    {{::events.inviter}} has invited you to an event on {{::events.evtDate| date:"dd-MMM 'at' h:mma"}}
                                </span>
                                <span class="notiDate">{{::events.evtDate| date:"dd-MMM 'at' h:mma"}}</span>
                            </li>
                            <li style="color: rgb(51, 51, 51);" data-ng-repeat="noti in head.notifications.noti">
                                <p class="notiProfilePic">
                                    <img class="noCircle" ng-src="/img/sxm.png" alt="" />
                                </p>
                                <span style="cursor: pointer" data-ng-cloak ng-click="head.showNotification(noti._id, 'N')">{{::noti.message}}</span>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle hideInMobile" data-toggle="dropdown">
                            <img ng-src="@@host/uploads/{{head.id| imgsize:40}}" class="left-round-img img-responsive img-circle" alt="" />
                            <span class="user-profile-block" style=""><strong ng-bind="::head.profile.fName"></strong><br/>
                                <span class="user-state" ng-bind="::head.profile.location.toString()"></span>
                            </span>
                            <span class="caret"></span>
                        </a>
						<ul class="dropdown-menu" ng-if="head.isAuthed">
                            <li><a href="/profile.html"><span class="glyphicon glyphicon-user pull-right"></span>My Profile</a></li>
                            <li class="divider"></li>
                            <li class="tgl"><a href="#"><span class="glyphicon glyphicon-user pull-right"></span>My Friends</a></li>
							<li data-ng-click="head.createTournament()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Create Tournament</a></li>
							<li class="divider"></li>
							<li data-ng-click="head.myTournaments()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>My Tournaments</a></li>
							<li class="divider"></li>
							<li data-ng-click="head.createIndividualMatch()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Create Match</a></li>
							<li class="divider"></li>
							<li data-ng-click="head.contactus()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Contact us</a></li>
							<li class="divider"></li>
							<li class="tgl-m divider"></li>
                            <li><a href="#" ng-click="head.logout()"><span class="glyphicon glyphicon-log-out pull-right"></span>Log Out</a></li>
                        </ul>
						<ul class="dropdown-menu" ng-if="!head.isAuthed">
							<li><a href="/login.html"><span class="glyphicon glyphicon-user pull-right"></span>Login</a></li>
							<li class="divider"></li>
							<li ng-click="head.contactus()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Contact us</a></li>
							<li class="divider"></li>
							<li><a href="/about-sportsextramile.html" target="_blank">About SportsExtraMile</a></li>
							<li class="divider"></li>
							<li><a href="/privacy.html" target="_blank">Privacy Policy</a></li>
						</ul>
                    </li>
					<li class="menuMobi" ng-if="head.isMobileDevice">
						<div class="menuBtnMobi glyphicon glyphicon-menu-hamburger"></div>
						<ul class="dropdown-menu" ng-if="head.isAuthed">
                            <li><a href="/profile.html"><span class="glyphicon glyphicon-user pull-right"></span>My Profile</a></li>
                            <li class="divider"></li>
                            <li class="tgl"><a href="#"><span class="glyphicon glyphicon-user pull-right"></span>My Friends</a></li>
                            <li class="divider"></li>
							<li ng-click="head.createDiscussion()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Post Message</a></li>
							<li class="divider"></li>
							<li ng-click="head.createTournament()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Create Tournament</a></li>
							<li class="tgl-m divider"></li>
							<li ng-click="head.myTournaments()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>My Tournaments</a></li>
							<li class="divider"></li>
							<li ng-click="head.createIndividualMatch()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Create Match</a></li>
							<li class="divider"></li>
							<li ng-click="head.contactus()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Contact us</a></li>
							<li class="tgl-m divider"></li>
                            <li><a href="#" ng-click="head.logout()"><span class="glyphicon glyphicon-log-out pull-right"></span>Log Out</a></li>
                        </ul>
						<ul class="dropdown-menu" ng-if="!head.isAuthed">
							<li ng-click="head.loginForm()"><a href=""><span class="glyphicon glyphicon-user pull-right"></span>Login</a></li>
							<li class="divider"></li>
							<li ng-click="head.registerForm()"><a href=""><span class="glyphicon glyphicon-user pull-right"></span>Register</a></li>
							<li class="divider"></li>
							<li ng-click="head.contactus()"><a href=""><span class="fa fa-comments pull-right" style="margin-top:3px"></span>Contact us</a></li>
							<li class="divider"></li>
							<li><a href="/about-sportsextramile.html" target="_blank">About SportsExtraMile</a></li>
							<li class="divider"></li>
							<li><a href="/privacy.html" target="_blank">Privacy Policy</a></li>
						</ul>
					</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="fakeHeader"></div>