<!DOCTYPE html>
<html lang="en" ng-app="sem" prefix="og: http://ogp.me/ns#">
    <head>
        <title>Cricket Scorecard - Sports Extra Mile</title>
        <meta charset="utf-8" />
        @@include('gtmhead.html')
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="Sports social network to encourage people to be more active, healthier & connected by promoting activities, facilities & discussions" />
        <meta name="keywords" content="sports, social network, facility, event, discussions, players, coaches, Aerobics,Archery, Badminton, Basketball, Boxing, Chess, Cricket, Cycling, Fencing, Football, Golf, Gym, Gymnastics, Handball, Hiking, Hockey, Kabaddi, Khokho, Running, Shooting, Skating, Squash, Swimming, Table Tennis, Tennis, Volleyball, Water Sports, Wrestling, Yoga" />
        <meta content="Sports social network to encourage people to be more active, healthier & connected by promoting activities, facilities & discussions" property="og:description" />
        <meta content="Sports Extra Mile" property="og:site_name" />
        <meta content="website" property="og:type" />
        <meta content="https://www.sportsextramile.com/" property="og:url" />
        <meta content="https://www.sportsextramile.com/img/og.png" property="og:image" />
        <link rel="icon" sizes="16x16" type="image/x-icon" href="//www.sportsextramile.com/favicon.ico" />

        @@if (doConcat === 1) {
        @@loop('css.html', [ 
        { "file": "common.css"}, 
        { "file": "sxm-common.css"}
        ]) 
        }
        @@if (doConcat !== 1) {
        @@loop('css.html', [ 
        { "file": "bootstrap.min.css"}, 
        { "file": "xeditable.min.css"},
        { "file": "ngdialog.css"}, 
        { "file": "ngDialog-theme-default.css"}, 
        { "file": "login.css"}, 
        { "file": "facilities.css"}, 
        { "file": "profile.css"},
        { "file": "detail.css"},
        { "file": "style.css"}, 
        { "file": "static.css"},
        { "file": "select.css"},
        { "file": "events-cricket-admin1.css"}
        ])
        }

        @@if (doConcat === 1) {
        @@loop('scripts.html', [ 
        { "file": "angular.js"}, 
        { "file": "sxm-common.js"}
        ]) 
        }
        @@if (doConcat !== 1) {
        @@loop('scripts.html', [
        { "file": "angular1.4.5.min.js"},
        { "file": "xeditable-0.2.0.js"},
        { "file": "angular-datepicker.js"},
		{ "file": "lib/angular-youtube-embed.min.js"},
        { "file": "textAngular-rangy.min.js"},
        { "file": "textAngular-sanitize.min.js"},
        { "file": "textAngular.min.js"},
        { "file": "select.min.js"},
        { "file": "ngdialog.js"},
        { "file": "shared.js"},
        { "file": "anghome.js"},
        { "file": "user.js"},
        { "file": "header.js"}
        ])
        }
        <script  src="/js/sports/Cricket.js"></script>
        <script  type='text/javascript'>
            /* 
             * To change this license header, choose License Headers in Project Properties.
             * To change this template file, choose Tools | Templates
             * and open the template in the editor.
             */

            function EventsAdminCtrl($http, API, auth, GeneralService, ngDialog) {
                var self = this;
                self.isAdmin = true;
                self.eid = GeneralService.getParam("id"); // eventid
                self.scorecard;

                self.staticPlayers = ["S.Player 1", "S.Player 2", "S.Player 3", "S.Player 4", "S.Player 5", "S.Player 6", "S.Player 7", "S.Player 8", "S.Player 9", "S.Player 10", "S.Player 11"];
                self.staticPlayers1 = ["W.Player 1", "W.Player 2", "W.Player 3", "W.Player 4", "W.Player 5", "W.Player 6", "W.Player 7", "W.Player 8", "W.Player 9", "W.Player 10", "W.Player 11"];

                // Load current event details
                var data = {
                    scid: "58ce8ad788a7202bdbe20bd4",
                    score: {
                        "eid": "58e3cc4eef792a10044ed5ed",
                        "scid": "58ce8ad788a7202bdbe20bd4",
                        "inning1": {
                            "id": "58ce316d732eae6c5fa3f685",
                            "name": "Heaven Boys - TCS",
                            "score": 143,
                            "overs": 15,
                            "overMap": [],
                            "FOW": [60, 61, 68, 120, 137, 139, 143],
                            "W": 7,
                            "extras": {
                                "runs": 11,
                                "b": 0,
                                "lb": 2,
                                "w": 7,
                                "nb": 2,
                                "p": 0
                            },
                            "batting": [
                                {"id": ObjectId("58cc101df299ab2d0aafb71b"), "name": "Binay (bony) Thakur", "runs": [], "balls": 19, "four": 1, "sixes": 6, "total": 46, "SR": "242.1", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58cd477c9b289c7aeaec9234", name: "Neelang Kulshreshta"}, "bowler": {"id": "58cd48a79b289c7aeaec923a", name: "Himanshu Poli"}}},
                                {"id": ObjectId("58cbea29f299ab2d0aafb70d"), "name": "kunal chaudhari", "runs": [], "balls": 12, "four": 1, "sixes": 1, "total": 17, "SR": "141.7", "batting": true, "outObj": {"type": "CF", "fielder": {"id": "58cd49409b289c7aeaec923c", name: "Salman Patel"}, "bowler": {"id": "58cd482a9b289c7aeaec9238", name: "Sunil Jetty"}}},
                                {"id": ObjectId("58cccb85f299ab2d0aafb73c"), "name": "Hardik Parekh", "runs": [], "balls": 2, "four": 0, "sixes": 1, "total": 1, "SR": "50", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58cd49ef9b289c7aeaec923e", name: "Pankaj Kohli"}, "bowler": {"id": "58cd48a79b289c7aeaec923a", name: "Himanshu Poli"}}},
                                {"id": ObjectId("58ce2cfa732eae6c5fa3f682"), "name": "Sagar Mody", "runs": [], "balls": 26, "four": 3, "sixes": 3, "total": 44, "SR": "169.2", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58cd49409b289c7aeaec923c", name: "Salman Patel"}, "bowler": {"id": "58cd48a79b289c7aeaec923a", name: "Himanshu Poli"}}},
                                {"id": ObjectId("58ccca1ef299ab2d0aafb737"), "name": "Dana Bharvad", "runs": [], "balls": 18, "four": 0, "sixes": 0, "total": 12, "SR": "66.7", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58cd45b89b289c7aeaec9231", name: "Jignesh Patel"}, "bowler": {"id": "58cd482a9b289c7aeaec9238", name: "Sunil Jetty"}}},
                                {"id": ObjectId("58ccd05df299ab2d0aafb744"), "name": "Parikshit Goswami", "runs": [], "balls": 7, "four": 0, "sixes": 1, "total": 8, "SR": "114.3", "batting": true, "outObj": {"type": "CF", "fielder": {"id": "58cd49409b289c7aeaec923c", name: "Salman Patel"}, "bowler": {"id": "58cd47f69b289c7aeaec9236", name: "Abhishek Pareekh"}}},
                                {"id": ObjectId("58ce2d48732eae6c5fa3f683"), "name": "Prashant Jadav", "runs": [], "balls": 5, "four": 0, "sixes": 0, "total": 2, "SR": "40.00", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58cd48ee9b289c7aeaec923b", name: "Juned Sheikh"}, "bowler": {"id": "58cd47f69b289c7aeaec9236", name: "Abhishek Pareekh"}}},
                                {"id": ObjectId("58ccc084f299ab2d0aafb72f"), "name": "Parvez Shaikh", "runs": [], "balls": 3, "four": 0, "sixes": 0, "total": 2, "SR": "66.7", "batting": true, "outObj": null},
                                {"id": ObjectId("58ce2d9b732eae6c5fa3f684"), "name": "Ninad Vaidya", "runs": [], "balls": 0, "four": 0, "sixes": 0, "total": 0, "SR": "0.00", "batting": false, "outObj": null},
                                {"id": ObjectId("58cc0d33f299ab2d0aafb717"), "name": "Sajid Khan", "runs": [], "balls": 0, "four": 0, "sixes": 0, "total": 0, "SR": "0.00", "batting": false, "outObj": null},
                                {"id": ObjectId("58cc14cff299ab2d0aafb720"), "name": "Swapnil Joshi", "runs": [], "balls": 17, "four": 0, "sixes": 0, "total": 8, "SR": "47.1", "batting": false, "outObj": null}
                            ],
                            "bowling": [
                                {"id": "58cd45b89b289c7aeaec9231", "name": "Jignesh Patel", "total_overs": 3, "overs": [], "runs": 28, "maiden": 0, "W": 0, "NB": 0, "WD": 0, "Eco": 9.3},
                                {"id": "58cd47f69b289c7aeaec9236", "name": "Abhishek Pareekh", "total_overs": 3, "overs": [], "runs": 38, "maiden": 0, "W": 2, "NB": 1, "WD": 1, "Eco": 12.6},
                                {"id": "58cd47c29b289c7aeaec9235", "name": "Shoib Pathan", "total_overs": 1, "overs": [], "runs": 14, "maiden": 0, "W": 0, "NB": 0, "WD": 1, "Eco": 14.0},
                                {"id": "58cd482a9b289c7aeaec9238", "name": "Sunil Jetty", "total_overs": 3, "overs": [], "runs": 15, "maiden": 0, "W": 2, "NB": 0, "WD": 2, "Eco": 5},
                                {"id": "58cd48a79b289c7aeaec923a", "name": "Himanshu Poli", "total_overs": 3, "overs": [], "runs": 26, "maiden": 0, "W": 3, "NB": 0, "WD": 2, "Eco": 8.6},
                                {"id": "58cd4a439b289c7aeaec923f", "name": "Amit Tripathi", "total_overs": 2, "overs": [], "runs": 20, "maiden": 0, "W": 0, "NB": 1, "WD": 1, "Eco": 10.0}

                            ]
                        },
                        "inning2": {
                            "id": "58cd45ef9b289c7aeaec9232",
                            "name": "TAM TV",
                            "score": 112,
                            "overs": 15,
                            "overMap": [],
                            "FOW": [6, 24, 43, 50, 79, 80, 89],
                            "W": 7,
                            "extras": {
                                "runs": 7,
                                "b": 0,
                                "lb": 1,
                                "wd": 5,
                                "nb": 1,
                                "p": 0
                            },
                            "batting": [
                                {"id": "58cd47f69b289c7aeaec9236", "name": "Abhishek Pareekh", "runs": [], "balls": 2, "four": 0, "sixes": 1, "total": 1, "SR": "300.0", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58ccca1ef299ab2d0aafb737", name: "Dana Bharvad"}, "bowler": {"id": "58ccc084f299ab2d0aafb72f", name: "Parvez Sheikh"}}},
                                {"id": "58cd49409b289c7aeaec923c", "name": "Salman Patel", "runs": [], "balls": 6, "four": 1, "sixes": 0, "total": 7, "SR": "116.7", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58ccc084f299ab2d0aafb72f", name: "Parvez Sheikh"}, "bowler": {"id": "58ccc084f299ab2d0aafb72f", name: "Parvez Sheikh"}}},
                                {"id": "58cd48ee9b289c7aeaec923b", "name": "Juned Sheikh", "runs": [], "balls": 12, "four": 2, "sixes": 1, "total": 20, "SR": "166.7", "batting": false, "outObj": {"type": "RO", "fielder": {"id": "58cc14cff299ab2d0aafb720", name: "Swapnil Joshi"}}},
                                {"id": "58cd47c29b289c7aeaec9235", "name": "Shoib Pathan", "runs": [], "balls": 4, "four": 0, "sixes": 1, "total": 7, "SR": "175", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58ce2d9b732eae6c5fa3f684", name: "Ninad Vaidya"}, "bowler": {"id": "58ce2cfa732eae6c5fa3f682", name: "Sagar Mody"}}},
                                {"id": "58cd477c9b289c7aeaec9234", "name": "Neelang Kulshreshta", "runs": [], "balls": 20, "four": 3, "sixes": 1, "total": 27, "SR": "135.00", "batting": false, "outObj": {"type": "CF", "fielder": {"id": "58cccb85f299ab2d0aafb73c", name: "Hardik Parekh"}, "bowler": {"id": "58ce2d9b732eae6c5fa3f684", name: "Ninad Vaidya"}}},
                                {"id": "58cd482a9b289c7aeaec9238", "name": "Sunil Jetty", "runs": [], "balls": 14, "four": 1, "sixes": 0, "total": 12, "SR": "85.7", "batting": false, "outObj": {"type": "ST", "fielder": {"id": "58cbea29f299ab2d0aafb70d", name: "kunal chaudhari"}, "bowler": {"id": "58cc101df299ab2d0aafb71b", name: "Binay (bony) Thakur"}}},
                                {"id": "58cd48a79b289c7aeaec923a", "name": "Himanshu Poli", "runs": [], "balls": 23, "four": 2, "sixes": 1, "total": 23, "SR": "100.00", "batting": true, "outObj": null},
                                {"id": "58cd498a9b289c7aeaec923d", "name": "Palak Patel", "runs": [], "balls": 3, "four": 0, "sixes": 0, "total": 0, "SR": "0.00", "batting": false, "outObj": {"type": "ST", "fielder": {"id": "58cc101df299ab2d0aafb71b", name: "Binay (bony) Thakur"}, "bowler": {"id": "58cc14cff299ab2d0aafb720", name: "Swapnil Joshi"}}},
                                {"id": "58cd49ef9b289c7aeaec923e", "name": "Pankaj Kohli", "runs": [], "balls": 7, "four": 0, "sixes": 0, "total": 3, "SR": "42.9", "batting": true, "outObj": null},
                                {"id": "58cd45b89b289c7aeaec9231", "name": "Jignesh Patel", "runs": [], "balls": 0, "four": 0, "sixes": 0, "total": 0, "SR": "0.00", "batting": false, "outObj": null},
                                {"id": "58cd4a439b289c7aeaec923f", "name": "Amit Tripathi", "runs": [], "balls": 0, "four": 0, "sixes": 0, "total": 0, "SR": "0.00", "batting": false, "outObj": null}
                            ],
                            "bowling": [
                                {"id": "58ccc084f299ab2d0aafb72f", "name": "Parvez Sheikh", "total_overs": 3, "overs": [], "runs": 37, "maiden": 0, "W": 2, "NB": 0, "WD": 2, "Eco": 12.3},
                                {"id": "58cc14cff299ab2d0aafb720", "name": "Swapnil Joshi", "total_overs": 3, "overs": [], "runs": 16, "maiden": 0, "W": 1, "NB": 0, "WD": 0, "Eco": 5.3},
                                {"id": "58cc101df299ab2d0aafb71b", "name": "Binay (bony) Thakur", "total_overs": 3, "overs": [], "runs": 25, "maiden": 0, "W": 1, "NB": 0, "WD": 1, "Eco": 8.3},
                                {"id": "58ce2d9b732eae6c5fa3f684", "name": "Ninad Vaidya", "total_overs": 3, "overs": [], "runs": 25, "maiden": 0, "W": 1, "NB": 1, "WD": 2, "Eco": 8.3},
                                {"id": "58ce2cfa732eae6c5fa3f682", "name": "Sagar Mody", "total_overs": 3, "overs": [], "runs": 8, "maiden": 0, "W": 1, "NB": 0, "WD": 0, "Eco": 2.6}

                            ]
                        }}
                };
                return $http.post(API + '/scoreapi/save', data).then(successCallback, successCallback);

                // Start Match
                self.startMatch = function () {
                    if (!self.event.scid) { // can not start match if already started
                        GeneralService.startMatch({'eid': self.eid}).then(function (results) {
                            self.scid = results.data.extras.data.scid;

                            // Starting new scorecard
                            self.scorecard = new Scorecard(self.eid, self.scid);
                            self.team1 = new Team(self.event.participants[0].pid, self.event.participants[0].name);
                            self.team2 = new Team(self.event.participants[1].pid, self.event.participants[1].name);
                        });
                    }
                };

                // Add ining in scoreboard
                self.addInning = function () {
                    self.scorecard.setInning(1, self.team1);
                    self.scorecard.setInning(2, self.team2);
                };

                self.selectBatsman = function (index, player) {
                    self.scorecard.inning1.batting[index] = new Batsman(player.uid, player.userName);
                    console.log(self.scorecard);
                };

                // Add run box
                self.addRunBox = function (item) {
                    if (item[item.length - 1] != "" && item[item.length - 1] != "out") {
                        return item.push("");
                    }
                };

            }
            ;
            angular.module('sem')
                    .controller('CricketMaster', EventsAdminCtrl);
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=@@gkey"></script>
    </head>

    <body ng-controller="CricketMaster as crick">
        @@include('gtmbody.html')
        <!-- header -->
        @@include('header.html')
        <div class="container">
            <div class="row content clearfix facPage">
                <div class="col-md-8 myPageContent">
                    <!-- Banner sections -->
                    <div class="bannerSection card">
                        <img data-ng-src="http://p.imgci.com/db/PICTURES/CMS/259800/259866.jpg" class="img-responsive" />
                    </div>
                    <!-- End Banner sections -->
                    <!-- Title, venues and map -->
                    <div class="customcolumn card" style="float:left;">
                        <h4>{{::crick.event.participants[0].name}} vs {{::crick.event.participants[1].name}}</h4>
                        <div class="pro-tabinner">
                            <div class="tab-section setmargin">
                                <p class="inf-intro"><strong>Sports</strong>: {{::crick.event.sport}}</p>
                                <p class="inf-intro"><strong>Date & Time</strong>:  {{::crick.event.evtDate}}</p>
                                <p class="inf-intro"><strong>Venue</strong>:  {{::crick.event.facility.facName}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="customcolumn card" style="height:150px;">
                        Google map comes here
                    </div>
                    <!-- End Title, venues and map -->
                    <button class="stdBtn" type="button" ng-click="crick.startMatch()">Start Match</button>
                    <!-- Select players -->
                    <!-- <div class="card">
                        <h4>Select Players</h4>
                        <div class="pro-tabinner">
                            <div class="tab-section setmargin">
                                <p class="introtext">
                                    <strong ng-bind="::crick.data.inning1.name"></strong>: <a href="javascript:void(0);" class="absRightposition standardbtn">Select Players</a>
                                </p>
                                <p class="introtext">
                                    <strong ng-bind="::crick.data.inning2.name"></strong>: <a href="javascript:void(0);" class="absRightposition standardbtn">Select Players</a>
                                </p>
                            </div>
                        </div>
                    </div> -->
                    <!-- End Select players -->
                    <!-- Score cards -->
                    <div class="card section" ng-if="crick.scorecard != undefined">
                        <div class="carddiv">Scorecards<a style="right:18px;top:4px;" ng-click="crick.addInning();" href="javascript:void(0);" class="absRightposition standardbtn">Add Inning</a></div>
                        <div class="pro-tabinner">
                            <div class="tab-section setmargin">
                                <!-- Inning 1 -->    
                                <div class="inningcard card" ng-if="crick.scorecard.inning1 != undefined">
                                    <div class="carddiv">{{::crick.team1.name}} - First Inning</div>
                                    <div class="pro-tabinner">
                                        <div class="tab-section" style="border-top:1px solid #fff;">
                                            <!-- score header -->
                                            <div class="cb-col cb-col-100 cb-scrd-sub-hdr cb-bg-gray">
                                                <div class="cb-col cb-col-27">Batsman</div>
                                                <div class="cb-col cb-col-28"></div>
                                                <div class="cb-col cb-col-8 text-right">R</div>
                                                <div class="cb-col cb-col-8 text-right">B</div>
                                                <div class="cb-col cb-col-8 text-right">4s</div>
                                                <div class="cb-col cb-col-8 text-right" style="padding-right:10px;">6s</div>
                                                <div class="cb-col cb-col-8 text-right">SR</div>
                                            </div>
                                            <!-- End score header -->
                                            <!-- Plyaer list -->
                                            <div class="cb-col cb-col-100 cb-scrd-itms" ng-repeat="batsman in crick.scorecard.inning1.batting">
                                                <div class="cb-col cb-col-27 ">
                                                    <span class="cmbwidth100 additionalstyle cb-col-padding">
                                                        <select ng-model="crick.newbatsman[$index]" ng-change="crick.selectBatsman($index, crick.newbatsman[$index])" class="ddStyle text-gray" ng-options="pl.userName for pl in crick.event.members[0].users">
                                                        </select>
                                                    </span>
                                                </div>	
                                                <div class="cb-col cb-col-28"><span class="text-gray">Batting</span></div>
                                                <div class="cb-col cb-col-8 text-right text-gray">{{batsman.total}}</div> <!-- Runs -->
                                                <div class="cb-col cb-col-8 text-right text-gray">{{batsman.balls}}</div> <!-- Ball -->
                                                <div class="cb-col cb-col-8 text-right text-gray">{{batsman.four}}</div> <!-- Four -->
                                                <div class="cb-col cb-col-8	text-right text-gray" style="padding-right:10px;">{{batsman.sixes}}</div> <!-- Six -->
                                                <div class="cb-col cb-col-8 text-right text-gray">{{batsman.SR}}</div> <!-- Strike rate -->

                                                <!-- Enter players run on each ball -->
                                                <div class="cb-col-100">
                                                    <span ng-if="batsman.batting == true" class="runsbtn cb-col-padding" ng-click="crick.addRunBox(batsman.runs);"></span>
                                                    <span ng-repeat="run in batsman.runs| orderBy:reverse:true track by $index" class="additionalstyle cb-col-padding">
                                                        <select ng-model="batsman.runs[$index]" ng-change="batsman.addRuns(batsman.runs[$index])" class="ddStyle text-gray">
                                                            <option value=""></option>
                                                            <option value="0" ng-selected="batsman.runs[$index] == 0">0</option>
                                                            <option value="1" ng-selected="batsman.runs[$index] == 1">1</option>
                                                            <option value="2" ng-selected="batsman.runs[$index] == 2">2</option>
                                                            <option value="3" ng-selected="batsman.runs[$index] == 3">3</option>
                                                            <option value="4" ng-selected="batsman.runs[$index] == 4">4</option>
                                                            <option value="6" ng-selected="batsman.runs[$index] == 6">6</option>
                                                            <option value="out">Out</option>
                                                        </select>
                                                        <!-- <input type="text" class="txtbatsmanrun" ng-model="i1.runs[$index]"> -->
                                                    </span>
                                                </div>
                                                <!-- End Enter players run on each ball -->

                                            </div>
                                            <!-- End player list -->
                                            <!-- Total runs and wickets -->
                                            <div class="cb-col cb-col-100 cb-scrd-itms">
                                                <div class="cb-col cb-col-55 text-gray">Total</div>
                                                <div class="cb-col cb-col-8 text-gray text-right">{{crick.scorecard.inning1.extras.runs}}</div>
                                                <div class="cb-col-20 cb-col text-gray">&nbsp;({{crick.fallOfWickets(1)}} wkts, {{crick.totalInningsOvers(1)}} Overs)</div>
                                                <!--<div class="cb-col-20 cb-col text-gray">&nbsp;({{crick.fallOfWickets(1)}} wkts</div> -->
                                            </div>
                                            <!-- End Total runs and overs -->
                                            <!-- Add new batsman -->
                                            <a style="right:18px;top:4px;" ng-click="crick.scorecard.inning1.addBatsman();" href="javascript:void(0);" class="standardbtn">Add New Player</a>
                                            <!-- End Add new batsman -->
                                            <!-- Bowlers balls details in each overs -->
                                            <p class="rightpos introtext">
                                                <span class="cb-col-overaddstyle">
                                                    <!--<input style="text-align:left;" ng-model="crick.playername" type="text" class="txtbatsmanrun">-->
                                                    <select ng-model="crick.bowlerid" class="ddStyle text-gray">
                                                        <option ng-repeat="sp in crick.staticPlayers1" value="{{$index}}">{{sp}}</option>
                                                    </select>
                                                </span>
                                                <a href="javascript:void(0);" class="standardbtn" ng-click="crick.addNewOvers(1);">Add Overs</a>
                                            </p>
                                            <div class="cb-col cb-col-100 cb-scrd-sub-hdr cb-bg-gray">
                                                <div class="cb-col cb-col-3">No.</div>
                                                <div class="cb-col cb-col-20">Bowlers</div>
                                                <div class="cb-col cb-col-65">Status of each ball</div>
                                                <div class="cb-col cb-col-10 text-right">Total Runs</div>
                                            </div>
                                            <div ng-repeat="bowlers in crick.data.inning1.bowling">
                                                <div class="cb-col cb-col-100 cb-scrd-itms" ng-repeat="bowl in bowlers.overs">
                                                    <div class="cb-col cb-col-3 text-gray" ng-bind="{{bowl.overNum}}"></div>
                                                    <div class="cb-col cb-col-20">
                                                        <span class="cb-col-bowler100 text-gray" style="border:none;" ng-bind="bowlers.name"></span>
                                                    </div>
                                                    <div class="cb-col cb-col-65">
                                                        <!-- <span ng-repeat="i in [1,2,3,4,5,6]" class="cb-col-padding">
                                                            <input type="text" class="txtbatsmanrun">
                                                        </span> -->
                                                        <span ng-repeat="i2 in bowl.runPerball track by $index" class="additionalstyle cb-col-padding">
                                                            <select ng-model="bowl.runPerball[$index]" class="ddStyle text-gray">
                                                                <option value=""></option>
                                                                <option value="0">0</option>
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="6">6</option>
                                                                <option value="wk">wk</option>
                                                            </select>
                                                        </span>
                                                        <span class="runsbtn cb-col-padding" ng-if="crick.currentOverBall(bowl) <= 6" ng-click="crick.addBallBox(bowl);"></span>
                                                    </div>
                                                    <div class="cb-col cb-col-10 text-right text-gray"></div>
                                                </div>
                                            </div>
                                            <!-- End Bowlers balls details in each overs -->
                                        </div>
                                    </div>
                                </div>      
                                <!-- End Inning 1 -->
                            </div>
                        </div>
                    </div>
                    <!-- End Score cards -->
                </div>
            </div>
        </div>
        <!-- Footer -->
        @@include('footer.html')
        @@include('footerscripts.html')
    </body>
</html>