<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" >
    <head>
        <title>User profile - Sports Extra Mile</title>
        <meta charset="utf-8" /> 
        @@include('gtmhead.html')
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="Sports social network to encourage people to be more active, healthier & connected by promoting activities, facilities & discussions" />
        <meta name="keywords" content="sports, social network, facility, event, discussions, players, coaches, Aerobics,Archery, Badminton, Basketball, Boxing, Chess, Cricket, Cycling, Fencing, Football, Golf, Gym, Gymnastics, Handball, Hiking, Hockey, Kabaddi, Khokho, Running, Shooting, Skating, Squash, Swimming, Table Tennis, Tennis, Volleyball, Water Sports, Wrestling, Yoga" />
        <meta content="Sports social network to encourage people to be more active, healthier & connected by promoting activities, facilities & discussions" property="og:description">
        <meta content="Sports Extra Mile" property="og:site_name">
        <meta content="website" property="og:type">
        <meta content="https://www.sportsextramile.com/" property="og:url">
        <meta content="https://www.sportsextramile.com/img/og.png" property="og:image">
        <link rel="icon" sizes="16x16" type="image/x-icon" href="//www.sportsextramile.com/favicon.ico" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css" />
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
		@@include('footerscripts.html')
	
        @@if (doConcat === 1) {
        @@loop('css.html', [ 
        { "file": "common.css"}, 
        { "file": "sxm-common.css"}
        ]) 
        }
        @@if (doConcat !== 1) {
        @@loop('css.html', [ 
        { "file": "bootstrap.min.css"}, 
        { "file": "ngdialog.css"}, 
        { "file": "ngDialog-theme-default.css"}, 
        { "file": "login.css"}, 
        { "file": "facilities.css"}, 
        { "file": "profile.css"},
        { "file": "detail.css"},
        { "file": "style.css"}, 
        { "file": "static.css"},
        { "file": "select.css"},
		{ "file": "lightgallery.css"},
		{ "file": "events-cricket-admin1.css"}
        ])
        }

        @@if (doConcat === 1) {
        @@loop('scripts.html', [ 
        { "file": "angular.js"}, 
        { "file": "sxm-common.js"}
        ]) 
        }
        @@if (doConcat !== 1) {
        @@loop('scripts.html', [
        { "file": "lib/angular1.4.5.min.js"},
        { "file": "lib/xeditable-0.2.0.js"},
        { "file": "lib/angular-datepicker.js"},
		{ "file": "lib/angular-youtube-embed.min.js"},
        { "file": "lib/textAngular-rangy.min.js"},
        { "file": "lib/textAngular-sanitize.min.js"},
        { "file": "lib/textAngular.min.js"},
        { "file": "lib/select.min.js"},
        { "file": "lib/ngdialog.js"},
        { "file": "shared.js"},
        { "file": "anghome.js"},
        { "file": "user.js"},
        { "file": "header.js"},
        { "file": "viewProfile.js"}        
        ])
        }
    </head>
    <body ng-app="sem" ng-controller="profileView as profile">
        @@include('gtmbody.html')
        @@include('header.html')
        <div class="container" ng-cloak>
            <!-- Profile Page -->
            <div class="row content profile-page">
                <!-- Left Panel -->
                <div class="col-md-8 pdetail">
					<div class="viewprofileSection">
						<div class="card"> 
							<div class="col-md-12 viewprofileBio">
								<img class="img-responsive usrImage" data-ng-src="@@host/uploads/{{profile.userprofile.uid| imgsize:108}}" alt="" width="108" height="108" />
								<div class="col-md-12 bioRow">
									<div style="width:100%;">
										<p class="usrName">{{profile.userprofile.prof.fName}} {{profile.userprofile.prof.lName}}</p>
										<div ng-if="profile.userprofile.isFriend == false">
											<p class="addBtn" ng-show="profile.userprofile.isFriend == false && profile.userprofile.reqSent === undefined">
												<a class="bioChangeBtn" data-ng-click="profile.userprofile.reqSent = true;profile.addAsFriend(profile.userprofile.uid)" href="#">Add friend</a>
											</p>
											<p class="resendBtn" ng-show="profile.userprofile.isFriend == false && profile.userprofile.reqSent == true">
												<span>Request pending</span>
											</p>
										</div>
									</div>
									<p class="usrSports">
										<i class="fa fa-map-marker" aria-hidden="true"></i>
										<span data-ng-repeat="locations in profile.userprofile.prof.location">
											{{locations}}{{$last ? '' : ($index==profile.userprofile.prof.location.length-2) ? ' and ' : ', '}}
										</span>
									</p>
								</div>
								<div class="col-md-12 bioRow" data-ng-if="profile.professions[profile.userprofile.prof.work - 1]">
									<div class="bioCont">
										<span class="bioLabel">Profession:</span>
										<span>{{::profile.professions[profile.userprofile.prof.work - 1]}}</span>
									</div>
								</div>                                                    
							</div>
							<div class="col-md-12 bioRow bioAbout" data-ng-if="profile.userprofile.prof.about" style="padding: 0 10px 10px !important;">
								<div class="bioCont">
									<span class="bioLabel">About Me:</span>
									<span ng-bind="profile.userprofile.prof.about"></span>
								</div>
							</div>
						</div>
					</div>
					<div class="coachSection" ng-show="profile.userprofile.isCoach">
						<div class="card">
							<h4>Coach Profile</h4>
							<div class="col-md-12 coachRow">
								<div class="col-sm-12 sp-list sportItem"  data-ng-repeat="sports in profile.userprofile.cSports">
									<p class="sportImg">
										<a data-ng-href="/sport/{{::sports.sport}}?type=S">
											<img data-ng-src="/img/{{::sports}}.png" class="left-round-img img-responsive img" style="display: inline-block;" alt="" title="{{::sports}}" />
										</a>
									</p>
									<p class="sportLbl">
										<span class="coachLabel">I coach&nbsp;</span>
										<a data-ng-href="/sport/{{::sports}}?type=S"  data-ng-bind="::sports"></a>
									</p>
								</div>
							</div>
							<div class="col-md-12 coachRow">
								<div class="col-sm-12 facContainer" data-ng-repeat="facility in profile.userprofile.cFacilities">
									<span class="coachLabel">I coach at&nbsp;</span>
									<div class="facItem">
										<a data-ng-href="/facility/{{::facility.facName| makeHyphen}}-{{::facility.facID}}?type=F" data-ng-bind="::facility.facName"></a>
									</div>		
								</div>
							</div>
						</div>
					</div>
					<div class="tabsWrapper">
						<div class="tabsContainer">
							<ul>
								<li class="tabStyle" data-tab="Tab_Sports">
									<span class="tab_ico"></span>
									<span class="tab_lbl">Sports</span>
								</li>
								<li class="tabStyle" data-tab="Tab_Activities">
									<span class="tab_ico"></span>
									<span class="tab_lbl">Activities</span>
								</li>
								<li class="tabStyle" data-tab="Tab_Friends">
									<span class="tab_ico"></span>
									<span class="tab_lbl">Friends</span>
								</li>
								<li class="tabStyle" data-tab="Tab_Pics">
									<span class="tab_ico"></span>
									<span class="tab_lbl">Pics</span>
								</li>
							</ul>
						</div>
						<div class="faketabsContainer"></div>
					</div>
					<div class="tabsDataContainer">	
						<div id="Tab_Sports" class="tabItem tabContent">
							<div class="card section" tab-scroller="">
								<div class="subtabWrapper">
									<div class="subtabContainer">
										<ul class="scrolltabContainer">
											<li class="subtabStyle scrolltab">Stats</li>
											<li class="subtabStyle scrolltab">Sports</li>											
											<li class="subtabStyle scrolltab">Proud Moments</li>
										</ul>
									</div>
									<div class="fakesubtabContainer"></div>
								</div>
								<div class="subtabDataContainer">
									<div class="scrolltabDataContainer">
										<div class="scrolltabData" id="accordion">
											<div class="cb-col cb-col-100 panel accWrapper" ng-repeat="user in profile.userTournaments | orderBy:'tournament.startdate':-true">
												<div class="cb-col cb-col-100 cb-scrd-sub-hdr cb-bg-gray" data-parent="#accordion" data-toggle="collapse" data-target="#tournament1_{{$index}}, #tournament2_{{$index}}" ng-click="profile.loadTournamentMatches(user.tournament.id, user.team, $index)" style="font-size:16px;cursor:pointer;"><i class="indicator fa fa-plus" aria-hidden="true"></i> {{user.tournament.title}} <span style="font-size:12px;"> - {{user.tournament.startdate | date:'MMM yyyy'}}</span></div>
												<div class="cb-col cb-col-50 cb-sm-100 cb-scrd-sub-hdr">
													<div class="cb-col cb-col-100 cb-scrd-itms">
														<div class="cb-col cb-col-50 text-right">I</div>
														<div class="cb-col cb-col-10 text-right text-bold">R</div>
														<div class="cb-col cb-col-10 text-right">4</div>
														<div class="cb-col cb-col-10 text-right">6</div>
														<div class="cb-col cb-col-10 text-right">50</div>
														<div class="cb-col cb-col-10 text-right">100</div>
													</div>
													<div class="cb-col cb-col-100 cb-scrd-itms">
														<div class="cb-col cb-col-50">
															<div class="cb-col cb-col-80">Batting</div>
															<div class="cb-col cb-col-20 text-right">{{user.stats.totalInnings}}</div>
														</div>
														<div class="cb-col cb-col-10 text-right text-bold">{{user.stats.batting.totalRun}}</div>
														<div class="cb-col cb-col-10 text-right">{{user.stats.batting.totalFours}}</div>
														<div class="cb-col cb-col-10 text-right">{{user.stats.batting.totalSixes}}</div>
														<div class="cb-col cb-col-10 text-right">{{user.stats.batting.totalFifties}}</div>
														<div class="cb-col cb-col-10 text-right">{{user.stats.batting.totalCenturies}}</div>
													</div>
													<div id="tournament1_{{$index}}" class="collapse" style="float:left;width:100%;">
														<div class="cb-col cb-col-100 cb-scrd-itms" ng-repeat="match in profile.userTournamentStats[$index].matches" ng-if="match.stats.batting">
															<div class="cb-col cb-col-50 text-left">{{match.event.title}}</div>
															<div class="cb-col cb-col-10 text-right text-bold">{{match.stats.batting.total}}</div>
															<div class="cb-col cb-col-10 text-right">{{match.stats.batting.four}}</div>
															<div class="cb-col cb-col-10 text-right">{{match.stats.batting.sixes}}</div>
															<div class="cb-col cb-col-10 text-right">0</div>
															<div class="cb-col cb-col-10 text-right">0</div>
														</div>													
													</div>
												</div>												
												<div class="cb-col cb-col-50 cb-sm-100 cb-scrd-sub-hdr">
													<div class="cb-col cb-col-100 cb-scrd-itms">
														<div class="cb-col cb-col-52 text-right">I</div>
														<div class="cb-col cb-col-12 text-right">O</div>
														<div class="cb-col cb-col-12 text-right text-bold">W</div>
														<div class="cb-col cb-col-12 text-right">R</div>
														<div class="cb-col cb-col-12 text-right">E</div>
													</div>
													<div class="cb-col cb-col-100 cb-scrd-itms">
														<div class="cb-col cb-col-52">
															<div class="cb-col cb-col-80">Bowling</div>
															<div class="cb-col cb-col-20 text-right">{{user.stats.totalInnings}}</div>
														</div>
														<div class="cb-col cb-col-12 text-right">{{user.stats.bowling.totalOvers}}</div>
														<div class="cb-col cb-col-12 text-right text-bold">{{user.stats.bowling.totalWickets}}</div>
														<div class="cb-col cb-col-12 text-right">{{user.stats.bowling.totalRun}}</div>														
														<div class="cb-col cb-col-12 text-right">0.00</div>
													</div>
													<div id="tournament2_{{$index}}" class="collapse" style="float:left;width:100%;">
														<div class="cb-col cb-col-100 cb-scrd-itms" ng-repeat="match in profile.userTournamentStats[$index].matches" ng-if="match.stats.bowling">
															<div class="cb-col cb-col-52 text-left">{{match.event.title}}</div>
															<div class="cb-col cb-col-12 text-right">{{match.stats.bowling.over_count}}.{{match.stats.bowling.balls}}</div>
															<div class="cb-col cb-col-12 text-right text-bold">{{match.stats.bowling.wicket}}</div>
															<div class="cb-col cb-col-12 text-right">{{match.stats.bowling.runs}}</div>															
															<div class="cb-col cb-col-12 text-right">{{match.stats.bowling.Eco}}</div>
														</div>
													</div>
												</div>	
											</div>
										</div>
										<div class="scrolltabData">
											<h4>Sports</h4>
											<div data-ng-if="profile.spolvl !== undefined">
												<div class="col-sm-12 sp-list sportItem"  data-ng-repeat="sports in profile.userprofile.prof.spolvl">
													<p class="sportImg">
														<a data-ng-href="/sport/{{::sports.sport}}?type=S">
															<img data-ng-src="/img/{{::sports.sport}}.png" class="left-round-img img-responsive img" style="display: inline-block;" alt="" title="{{::sports.sport}}" />
														</a>
													</p>
													<p class="sportLbl">
														<a data-ng-href="/sport/{{::sports.sport}}?type=S" data-ng-bind="::sports.sport"></a>
													</p>
													<p class="sportFreq">
														<span data-ng-if="sports.exp > 0">
															expertise level is {{::profile.expertise[sports.exp - 1]}}
														</span>
														<span data-ng-if="sports.exp > 0 && sports.freq > 0">
															and 
														</span>
														<span data-ng-if="sports.freq > 0">
															plays {{::profile.frequency[sports.freq - 1]}}
														</span>
													</p>
												</div>
											</div>
											<div data-ng-if="profile.spolvl == undefined"> 
												<div class="col-sm-12 sp-list sportItem"  data-ng-repeat="sports in profile.userprofile.prof.sports">
													<p class="sportImg">
														<a data-ng-href="/sport/{{::sports}}?type=S">
															<img data-ng-src="/img/{{::sports}}.png" class="left-round-img img-responsive img" style="display: inline-block;" alt="" title="{{::sports}}" />
														</a>
													</p>
													<p class="sportLbl">
														<a data-ng-href="/sport/{{::sports}}?type=S" data-ng-bind="::sports"></a>
													</p>
												</div>
											</div>
										</div>
										<div class="scrolltabData proudMoments">
											<h4>Proud Moments</h4>
											<div id="awardDataContainer" ng-show="profile.userprofile.cawards.length > 0">
												<div class="col-md-12" ng-if="profile.userprofile.cawards">
													<div class="awardItem" data-ng-repeat="award in profile.userprofile.cawards| orderBy:['-cYear', 'cMonth']">
														<div class="awardTitle" data-ng-bind="award.cTitle"></div>
														<div class="awardDate">{{award.cMonth}} - {{award.cYear}}</div>
														<div class="awardDetail" data-ng-bind="award.cText"></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div id="Tab_Activities" class="tabItem tabContent">
							<div class="card section" tab-scroller="">
								<div class="subtabWrapper">
									<div class="subtabContainer">
										<ul class="scrolltabContainer">
											<li class="subtabStyle scrolltab">My Pages</li>
											<li class="subtabStyle scrolltab">Articles</li>
											<li class="subtabStyle scrolltab">Events</li>
											<li class="subtabStyle scrolltab">Discussions</li>
										</ul>
									</div>
									<div class="fakesubtabContainer"></div>
								</div>
								<div class="subtabDataContainer">
									<div class="scrolltabDataContainer">
										<div class="scrolltabData event-listing orgPages">
											<h4>My Pages</h4>
											<div class="tournamentListCont">
												<div class="tItem" ng-if="profile.userprofile.pages.length == 0">
													No Pages available here.
												</div>
												<div class="tItem" data-ng-repeat="opage in profile.userprofile.pages">
													<p>
														<a data-ng-href="/organization.html?orgId={{opage.id}}"><strong>{{opage.title}}</strong></a>
													</p>
												</div>
											</div>
										</div>
										<div class="scrolltabData event-listing orgPages">
											<h4>Articles</h4>
											<div class="pro-tabinner">
												<div class="col-md-12" style="padding-bottom:10px;" ng-if="profile.userprofile.articles.length == 0">
													No articles available here.
												</div>
												<ul class="col-md-12 no">
													<li ng-repeat="art in profile.userprofile.articles">
														<span class="thumb"><span ng-bind="art.date | date : 'd' : '+0530'"></span>
															<span>
																<b ng-bind="art.date | date : 'MMM' : '+0530'"></b>
															</span>
														</span>
														<span class="title">
															<a class="sub-ttl" style="cursor: pointer" data-ng-bind="art.title" data-ng-click="profile.showDetailArticle(art._id, 'A', 'A')"></a>
														</span>
													</li>
												</ul>
											</div>
										</div>
										<div class="scrolltabData event-listing">
											<div class="col-md-12" style="padding:10px;" ng-if="profile.userprofile.events.length == 0">
												No events available here.
											</div>
											<ul class="col-md-12 no">
												<li ng-repeat="evt in profile.userprofile.events | orderBy : '-evtDate'">
													<span class="thumb">
														<span ng-bind="evt.evtDate | date : 'd' : '+0530'"></span>
														<span><b ng-bind="evt.evtDate | date : 'MMM' : '+0530'"></b></span>
													</span>
													<span class="title">
														<a class="sub-ttl" data-ng-href="/event/{{::evt.evtName| makeHyphen}}-{{::evt.evtID}}?type=E" data-ng-bind="evt.evtName"></a>   
													</span>
												</li>
											</ul>
										</div>
										<div class="scrolltabData event-listing">
											<div class="col-md-12" style="padding:10px;" ng-if="profile.userprofile.disc.length == 0">
                                                No discussions available here.
                                            </div>	
											<ul class="col-md-12 no">
												<li ng-repeat="discussion in profile.userprofile.disc| orderBy : '-date'">
													<span class="thumb">
														<span ng-bind="discussion.date | date : 'd' : '+0530'"></span>
														<span><b ng-bind="discussion.date | date : 'MMM' : '+0530'"></b></span>
													</span>
													<span class="title">
														<a class="sub-ttl" style="cursor: pointer" data-ng-bind="discussion.body" data-ng-click="profile.showDetailDiscussion(discussion._id, 'D')"></a>   
													</span>
												</li>
											</ul>
										</div>
									</div>
								</div>	
							</div>
						</div>
						<div id="Tab_Friends" class="tabItem tabContent">
							<div class="card section" tab-scroller="">
								<div class="subtabWrapper">
									<div class="subtabContainer">
										<ul class="scrolltabContainer">
											<li class="subtabStyle scrolltab">Friends</li>
											<li class="subtabStyle scrolltab">Teams</li>
										</ul>
									</div>
									<div class="fakesubtabContainer"></div>
								</div>
								<div class="subtabDataContainer">
									<div class="scrolltabDataContainer">
										<div class="scrolltabData event-listing frdSection">
											<div class="col-md-12">
												<ul class="col-md-12 no clearfix Friends-Groups-tabs" >
													<li ng-if="profile.userprofile.friends.length == 0">No friends available here</li>		
													<li ng-repeat='frds in profile.userprofile.friends | filter:{name :search.name}:startsWith'>
														<span data-ng-if="profile.uid === frds.uid">
															<a data-ng-href="/profile.html">
																<span class="thumb">
																	<img data-ng-src="@@host/uploads/{{frds.uid | imgsize:108}}" err-src="/img/user.jpg" width="40" height="40" style="border-radius:50%" />
																</span>
																<span class="title" data-ng-bind="frds.name"></span>
															</a>
														</span>
														<span data-ng-if="profile.uid !== frds.uid">
															<a data-ng-href="/profile/{{::frds.name| makeHyphen}}-{{::frds.uid}}">
																<span class="thumb">
																	<img data-ng-src="@@host/uploads/{{frds.uid | imgsize:108}}" err-src="/img/user.jpg" width="40" height="40" style="border-radius:50%" />
																</span>
																<span class="title" data-ng-bind="frds.name"></span>
															</a>
														</span>
													</li>
												</ul>      
											</div>
										</div>
										<div class="scrolltabData event-listing frdSection">
											<div class="col-md-12">
												<ul class="col-md-12 no clearfix Friends-Groups-tabs">
													<li ng-if="profile.userprofile.groups.length == 0">No groups available here</li>
													<li ng-repeat="group in profile.userprofile.groups | filter:{grpName :search.name}:startsWith">
														<span class="thumb">
															<img data-ng-src="@@host/logo/{{group.gid | logofilter}}" err-src="/img/users-group-icon.png" width="40" height="40" style="border-radius:50%" />
														</span>
														<a href="#" onclick="return false" data-ng-click="profile.groupDetails(group.gid)">
															<span class="title" data-ng-bind="group.grpName"></span>
														</a>
													</li>
												</ul>    
											</div>
										</div>
									</div>
								</div>
							</div>		
						</div>
						<div id="Tab_Pics" class="tabItem tabContent">
							<div class="card section gallerySection">
								<h4 style="background:#113145;">&nbsp;</h4>
								<div class="gallery">			
									<div class="col-md-12" ng-if="profile.userprofile.gallery.length == 0">
										No images available here.
									</div>
									<div id="lightgallery" class="lightgallery">
										<a class="galleryItem" lightgallery ng-repeat="gal in profile.userprofile.gallery | orderBy:reverse:true" ng-href="@@host/posts/{{gal.id | imgsize}}">
											<img class="img-responsive" ng-src="@@host/posts/{{gal.id | imgsize:206 }}" />
										</a>				
									</div>
								</div>
							</div>	
						</div>	
					</div>
                </div>
				<!-- Right Panel -->
				<div class="col-md-4">
					@@include('rightpanel.html')				
                </div>
            </div>
        </div>	
        <!-- Footer -->
		<style type="text/css">
			@media(max-width:767px) {
				.profile-page{margin-left:-20px;margin-right:-20px;}
				.profile-page .card{box-shadow:1px 1px 1px 0 #617d8c;margin-bottom:10px;}
			}
		</style>
        @@include('footer.html')
        <script type="text/javascript" src="/js/lib/lightgallery.min.js"></script>
		<script type="text/javascript" src="/js/lib/lg-thumbnail.min.js"></script>
		<script type="text/javascript" src="/js/lib/lg-fullscreen.min.js"></script>
        <script type="text/javascript" src="/script/main.js"></script>
        <script>
			$(document).ready(function () {
				$('.discussion-list').slimScroll({
					position: 'right',
					height: '180px',
					railVisible: true,
					alwaysVisible: true
				});
				$('.fri-container ul').slimScroll({
					position: 'right',
					height: '270px',
					railVisible: true,
					alwaysVisible: true
				});

				$('body').scrollspy({
					target: '.profile-page',
					offset: 165
				});

				new WOW().init();
				$('a.page-scroll').bind('click', function (event) {
					var $ele = $(this);
					$('html, body').stop().animate({
						scrollTop: ($($ele.attr('href')).offset().top - 115)
					}, 1450, 'easeInOutExpo');
					event.preventDefault();
				});
			});
        </script>
    </body>
</html>
