<div class="modal-body clearfix formContainer" ng-controller="ForgotPassword as main" ng-cloak>
    <form class="form-horizontal col-md-12 formValidations" ng-init="main.showMsg = false;main.invEmail = false;" ng-hide="main.showMsg" name="forgotPasswordForm" role="form" novalidate ng-submit="forgotPasswordForm.$valid && main.validateEmail() && main.sendResetLink()">
        <div class="form-group">
            <div class="col-sm-12">
                <h3 style="border-bottom-style: none;">Please enter your Email/Mobile</h3>
                <input id="set-email" class="form-control" ng-class="{submitted:main.isFocus.submitted}" type="text" name="newEmail" ng-model="main.username" data-ng-focus="main.invEmail = false;" placeholder="Email/Mobile" ng-maxlength="128" required />
                <span class="altMsg" data-ng-if="main.invEmail">Email/Mobile not found</span>
            </div>
        </div>
        <div class="modal-footer">
            <input  id="btnCreateEvent" class="btn btnSubmit" type="submit" value="Send" name="btnCreateEvent" ng-click="main.isFocus.submitted = true" />
            <button id="btnCancelEvent" class="btn btnCancel" ng-click="main.cancel()">Cancel</button>
        </div>
    </form>
    <div class="col-md-12 control-label" ng-show="main.showMsg">
        <div class="col-md-12" style="padding:0 10px 10px;">Reset link is sent to your registered id. <br>Please follow steps to reset your password.</div>
    </div>
</div>