<div class="modal-body clearfix formContainer" ng-controller="ResetPassword as main" ng-cloak>
    <form id="resetpass-form" class="form-horizontal col-md-12 formValidations" ng-init="main.resetMsg = false" ng-hide="main.resetMsg" name="resetPasswordForm" role="form" novalidate ng-submit="resetPasswordForm.$valid && main.resetPassword()">
        <div class="form-group">
            <div class="col-sm-12">
                <label for="body" class="col-sm-12 control-label">New password</label>
                <input class="form-control" ng-class="{submitted:main.isFocus.submitted}" type="password" name="newPassword" ng-model="main.newPassword" placeholder="Password" ng-focus="main.isFocus.pswd = true" ng-blur="main.isFocus.pswd = false" ng-minlength="6" ng-maxlength="128" required>
				<span class="alertMsg" ng-cloak ng-show="resetPasswordForm.newPassword.$error.minlength && main.isFocus.pswd">Password is too short (6 or more characters)</span>
			</div>
        </div>
		<div class="form-group">
            <div class="col-sm-12">
                <label for="body" class="col-sm-12 control-label">Confirm password</label>
                <input class="form-control" compare-to="main.newPassword" ng-class="{submitted:main.isFocus.submitted}" type="password" name="conPassword" ng-model="main.conPassword" placeholder="Confirm password" ng-focus="main.isFocus.submitted = true" required>
            </div>
        </div>
        <div class="modal-footer">
            <input  id="btnCreateEvent" class="btn btnSubmit" type="submit" value="Save" name="btnCreateEvent" ng-click="main.isFocus.submitted = true" />
            <button id="btnCancelEvent" class="btn btnCancel" ng-click="main.cancel()">Cancel</button>
        </div>
    </form>
	<div class="col-md-12 control-label" ng-show="main.resetMsg">
		<div class="col-md-12" style="padding:0 10px 10px;">You have successfully changed your password.</div>
	</div>
</div>